{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row justify-content-center no-gutters">
    <div class="col-sm-12 col-md-6">
        <div class="text-center mb-5">
            <h2 class="section-heading text-uppercase">Reset Password</h2>
            <h3 class="section-subheading text-muted">
                Forgotten your password?
                <br>
                Enter the email you registerd with to reset your password and we'll send you an email allowing you to create a new password
            </h3>
        </div>
        <form>
            <div class="text-center mb-5">
                <div class="form-group">
                    <!-- Email address input-->
                    <input class="form-control" id="email" type="email" placeholder="Your Email You Signed Up With *"/>
                </div>
            </div>
            <!-- Submit Button-->
            <div class="text-center">
                <button class="btn btn-primary btn-xl text-uppercase disabled" id="submitButton"
                    type="submit">Reset Password</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}